body{
    display: flex;
    justify-content: center;
    align-items: center;
     background: url(tony-detroit-sZtmk410A1I-unsplash.jpg) no-repeat center center fixed; 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
      
}

.mainbody {
    display: flex;
    flex-direction: column;
   line-height: 10px;
    background-color: inherit;
    width: 600px;
    height:300px;
    border-radius: 30px;
    justify-content: center;
    
}

.mainScreen {
    width :300px;
    height:50px;
    background-color: rgb(245, 242, 239);
    align-self: center;
   display: flex;
   align-content: center;
   justify-content: center;
   border-radius: 10px;
   color: rgb(33, 53, 23);
}

.btns{
    align-self: center;
}

.inbtns{
    width: 90px;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgb(199, 136, 78);
     color: rgb(33, 53, 23);
}

.cheese {
    display: none;
}